services:
  - type: web
    name: owasp-finbot-ctf-module2
    env: python
    buildCommand: "uv sync --frozen && uv cache prune --ci"
    startCommand: "gunicorn -k uvicorn.workers.UvicornWorker -c gunicorn.conf.py finbot.main:app"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: FLASK_APP
        value: finbot.main:app
      - key: PORT
        fromService:
          type: web
          name: owasp-finbot-ctf-module2
          property: port
    healthCheckPath: /
